@using ShopBanChuot.Models;
@model List<LOAISANPHAM>
<div id="sidebar" class="span3">
    @*<div class="well well-small"><a id="myCart" href="product_summary.html"><img src="/themes/images/ico-cart.png" alt="cart">3 sản phẩm trong giỏ hàng  <span class="badge badge-warning pull-right">200.000đ</span></a></div>*@
    <ul id="sideManu" class="nav nav-tabs nav-stacked">
        <li>
            <a href=@Url.Action("Index","SanPham")>TẤT CẢ SẢN PHẨM</a>
        </li>
        <li class="subMenu open">
            @Html.Action("LoaiSanPhamPartial","Slidebar")
        </li>
        <li class="subMenu open">
            @Html.Action("ThuongHieuPartial", "Slidebar")
        </li>
        <li class="subMenu open">
            @Html.Action("XuatXuPartial", "Slidebar")
        </li>
        <li class="subMenu open">
            <a> KHOẢNG GIÁ </a>
            <ul>
                <li class=""><a href=@Url.Action("KhoangGia","SanPham",new { KhoangGia = "0"})><i class="icon-chevron-right"></i>Dưới 200k</a></li>
                <li><a href=@Url.Action("KhoangGia","SanPham",new { KhoangGia = "1"})><i class="icon-chevron-right"></i>Từ 200k - 500k</a></li>
                <li><a href=@Url.Action("KhoangGia","SanPham",new { KhoangGia = "2"})><i class="icon-chevron-right"></i>Trên 500k</a></li>
            </ul>
        </li>

    </ul>
    @*<br />
        <div class="thumbnail">
            <img src="/themes/images/products/panasonic.jpg" alt="Bootshop panasonoc New camera" />
            <div class="caption">
                <h5>Panasonic</h5>
                <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
            </div>
        </div><br />
        <div class="thumbnail">
            <img src="/themes/images/products/kindle.png" title="Bootshop New Kindel" alt="Bootshop Kindel">
            <div class="caption">
                <h5>Kindle</h5>
                <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
            </div>
        </div><br />
        <div class="thumbnail">
            <img src="/themes/images/payment_methods.png" title="Bootshop Payment Methods" alt="Payments Methods">
            <div class="caption">
                <h5>Payment Methods</h5>
            </div>
        </div>*@
</div>


