
<li class="">
    <a href=@Url.Action("GioHang","GioHang") role="button" data-toggle="modal">
    <span class="btn btn-large btn-success">
        <i class="icon-shopping-cart icon-white" style="font-size:23px"></i><span>(@ViewBag.SoLuong)</span> Giỏ hàng
        </span>
    </a>
</li>
