<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    @*Chèn file css và javascript*@
    <link href="~/Content/TemplateAdmin/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/TemplateAdmin/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/TemplateAdmin/css/style.css" rel="stylesheet" />
    <link href="~/Content/TemplateAdmin/css/style-responsive.css" rel="stylesheet" />

</head>
<body>
    <!-- start: Header -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href=@Url.Action("Index","Home")><span>Trang quản lý</span></a>
                <div class ="pull-right">
                        <a class="brand" href= @Url.Action("Index","Home",new { area = ""}) ><span>Quay về trang chủ</span></a>
                </div>
            </div>
        </div>
    </div>
    <!-- start: Header -->

    <div class="container-fluid-full">
        <div class="row-fluid">

            <!-- start: Main Menu -->
            <div id="sidebar-left" class="span1">
                <div class="nav-collapse sidebar-nav">
                    <ul class="nav nav-tabs nav-stacked main-menu">
                        <li><a href=@Url.Action("Index","QLSP")><i class="icon-edit"></i><span class="hidden-tablet"> Quản lý sản phẩm</span></a></li>
                        <li><a href=@Url.Action("Index","QLLoaiSP")><i class="icon-edit"></i><span class="hidden-tablet"> Quản lý loại sản phẩm</span></a></li>
                        <li><a href=@Url.Action("Index","QLThuongHieu")><i class="icon-edit"></i><span class="hidden-tablet"> Quản lý thương hiệu</span></a></li>
                        <li><a href=@Url.Action("Index","QLXuatXu")><i class="icon-edit"></i><span class="hidden-tablet"> Quản lý xuất xứ</span></a></li>
                        <li><a href=@Url.Action("Index","QLTK")><i class="icon-edit"></i><span class="hidden-tablet"> Quản lý tài khoản</span></a></li>
                        <li><a href=@Url.Action("Index","QLNhomTK")><i class="icon-edit"></i><span class="hidden-tablet"> Quản lý nhóm tài khoản</span></a></li>
                        <li><a href=@Url.Action("Index","QLDonHang")><i class="icon-edit"></i><span class="hidden-tablet"> Quản lý đơn hàng</span></a></li>
                        <li><a href=@Url.Action("Index","ChiTietDonHang")><i class="icon-edit"></i><span class="hidden-tablet"> Chi tiết tất cả đơn hàng</span></a></li>

                    </ul>
                </div>
            </div>
            <!-- end: Main Menu -->

            <noscript>
                <div class="alert alert-block span10">
                    <h4 class="alert-heading">Warning!</h4>
                    <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
                </div>
            </noscript>

            <!-- start: Content -->
            <div id="content" class="span11" style="min-height: 570px;">
            @RenderBody()       
            </div><!--/.fluid-container-->
            <!-- end: Content -->
        </div><!--/#content.span10-->
    </div><!--/fluid-row-->

    <div class="modal hide fade" id="myModal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Settings</h3>
        </div>
        <div class="modal-body">
            <p>Here settings can be configured...</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <a href="#" class="btn btn-primary">Save changes</a>
        </div>
    </div>

    <div class="clearfix"></div>

    <footer>

        <p>
            <span style="text-align:left;float:left">© 2013 <a href="http://jiji262.github.io/Bootstrap_Metro_Dashboard/" alt="Bootstrap_Metro_Dashboard">Bootstrap Metro Dashboard</a></span>

        </p>

    </footer>

    <!-- start: JavaScript-->
    <script src="~/Content/TemplateAdmin/js/jquery-1.9.1.min.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery-migrate-1.0.0.min.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery-ui-1.10.0.custom.min.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery.ui.touch-punch.js"></script>

    <script src="~/Content/TemplateAdmin/js/modernizr.js"></script>

    <script src="~/Content/TemplateAdmin/js/bootstrap.min.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery.cookie.js"></script>

    <script src="~/Content/TemplateAdmin/js/fullcalendar.min.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery.dataTables.min.js"></script>

    <script src="~/Content/TemplateAdmin/js/excanvas.js"></script>
    <script src="~/Content/TemplateAdmin/js/jquery.flot.js"></script>
    <script src="~/Content/TemplateAdmin/js/jquery.flot.pie.js"></script>
    <script src="~/Content/TemplateAdmin/js/jquery.flot.stack.js"></script>
    <script src="~/Content/TemplateAdmin/js/jquery.flot.resize.min.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery.chosen.min.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery.uniform.min.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery.cleditor.min.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery.noty.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery.elfinder.min.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery.raty.min.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery.iphone.toggle.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery.uploadify-3.1.min.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery.gritter.min.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery.imagesloaded.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery.masonry.min.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery.knob.modified.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery.sparkline.min.js"></script>

    <script src="~/Content/TemplateAdmin/js/counter.js"></script>

    <script src="~/Content/TemplateAdmin/js/retina.js"></script>

    <script src="~/Content/TemplateAdmin/js/custom.js"></script>
    <!-- end: JavaScript-->


</body>
</html>
